<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 
	<servlet>
		<servlet-name>CSC 370 Project</servlet-name>
		<servlet-class>TestServlet</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>CSC 370 Project</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- Planes Table -->
	<servlet>
		<servlet-name>Insert Planes</servlet-name>
		<servlet-class>InsertPlanes</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Insert Planes</servlet-name>
		<url-pattern>/planes</url-pattern>
	</servlet-mapping>

	<!-- Airlines Table-->
	<servlet>
		<servlet-name>Insert Airlines</servlet-name>
		<servlet-class>InsertAirlines</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>Insert Airlines</servlet-name>
		<url-pattern>/airlines</url-pattern>
	</servlet-mapping>

	<!-- Flights Table-->
	<servlet>
		<servlet-name>Insert Flights</servlet-name>
		<servlet-class>InsertFlights</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>Insert Flights</servlet-name>
		<url-pattern>/flights</url-pattern>
	</servlet-mapping>


	<!-- Passenger Table-->
	<servlet>
		<servlet-name>Insert Passengers</servlet-name>
		<servlet-class>InsertPassengers</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>Insert Passengers</servlet-name>
		<url-pattern>/passengers</url-pattern>
	</servlet-mapping>


</web-app>
