<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 
	<servlet>
		<servlet-name>CSC 370 Project</servlet-name>
		<servlet-class>TestServlet</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>CSC 370 Project</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- Planes Table -->
	<servlet>
		<servlet-name>Insert Planes</servlet-name>
		<servlet-class>InsertPlanes</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Insert Planes</servlet-name>
		<url-pattern>/planes</url-pattern>
	</servlet-mapping>

	<!-- Airlines Table-->
	<servlet>
		<servlet-name>Insert Airlines</servlet-name>
		<servlet-class>InsertAirlines</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>Insert Airlines</servlet-name>
		<url-pattern>/airlines</url-pattern>
	</servlet-mapping>

	<!-- Flights Table-->
	<servlet>
		<servlet-name>Insert Flights</servlet-name>
		<servlet-class>InsertFlights</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>Insert Flights</servlet-name>
		<url-pattern>/flights</url-pattern>
	</servlet-mapping>


	<!-- Passenger Table-->
	<servlet>
		<servlet-name>Insert Passengers</servlet-name>
		<servlet-class>InsertPassengers</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>Insert Passengers</servlet-name>
		<url-pattern>/passengers</url-pattern>
	</servlet-mapping>

	<!-- Baggage Table-->
	<servlet>
		<servlet-name>Insert Bags</servlet-name>
		<servlet-class>InsertBags</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>Insert Bags</servlet-name>
		<url-pattern>/bags</url-pattern>
	</servlet-mapping>

	<!-- Incoming Flight Table-->
	<servlet>
		<servlet-name>Insert Incoming Flights</servlet-name>
		<servlet-class>InsertIncomingFlights</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>Insert Incoming Flights</servlet-name>
		<url-pattern>/incomingflights</url-pattern>
	</servlet-mapping>

	<!-- Outgoing Flight Table-->
	<servlet>
		<servlet-name>Insert Outgoing Flights</servlet-name>
		<servlet-class>InsertOutgoingFlights</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>Insert Outgoing Flights</servlet-name>
		<url-pattern>/outgoingflights</url-pattern>
	</servlet-mapping>

	<!-- Arrival Table-->
	<servlet>
		<servlet-name>Insert Arrivals</servlet-name>
		<servlet-class>InsertArrivals</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>Insert Arrivals</servlet-name>
		<url-pattern>/arrivals</url-pattern>
	</servlet-mapping>

	<!-- Departure Table-->
	<servlet>
		<servlet-name>Insert Departures</servlet-name>
		<servlet-class>InsertDepartures</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>Insert Departures</servlet-name>
		<url-pattern>/departures</url-pattern>
	</servlet-mapping>

	<!-- Passenger Registration-->
	<servlet>
		<servlet-name>Passenger Registration</servlet-name>
		<servlet-class>PassengerRegistration</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>Passenger Registration</servlet-name>
		<url-pattern>/registrations</url-pattern>
	</servlet-mapping>

	<!-- Passenger Registration-->
	<servlet>
		<servlet-name>Get Bags</servlet-name>
		<servlet-class>GetBags</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>Get Bags</servlet-name>
		<url-pattern>/getbags</url-pattern>
	</servlet-mapping>


	<!-- From/To Flights Given Location-->
	<servlet>
		<servlet-name>FlightsToFrom</servlet-name>
		<servlet-class>FlightsToFrom</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>FlightsToFrom</servlet-name>
		<url-pattern>/flightstofrom</url-pattern>
	</servlet-mapping>

</web-app>
